flows (1).json
[{"id":"c0196d5b.9b582","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"946bd05b.960e1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"37c51aaa.e7bcc6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5e0f9291.81170c","type":"rpi-gpio out","z":"c0196d5b.9b582","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":671.5,"y":396,"wires":[]},{"id":"6256ba75.674924","type":"debug","z":"c0196d5b.9b582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":551.5,"y":196,"wires":[]},{"id":"da58e3ab.012a6","type":"rpi-gpio in","z":"c0196d5b.9b582","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":55,"y":346,"wires":[["6256ba75.674924","15ffa494.b48b6b"]]},{"id":"15ffa494.b48b6b","type":"switch","z":"c0196d5b.9b582","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":266.5,"y":400,"wires":[["cda9bbd1.9df688"],["887d8e00.a8ae1"]]},{"id":"cda9bbd1.9df688","type":"change","z":"c0196d5b.9b582","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.5,"y":397,"wires":[["5e0f9291.81170c"]]},{"id":"887d8e00.a8ae1","type":"change","z":"c0196d5b.9b582","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5,"y":448,"wires":[["5e0f9291.81170c"]]},{"id":"b0fdac7f.0cd26","type":"inject","z":"946bd05b.960e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":256,"wires":[["8c563180.b17ff"]]},{"id":"8c563180.b17ff","type":"function","z":"946bd05b.960e1","name":"Payload","func":"msg.headers={\n    deviceKey: \"AwzlKFwLjnU8Xf7H\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":324,"wires":[["b325892e.f0a988"]]},{"id":"b325892e.f0a988","type":"http request","z":"946bd05b.960e1","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D40Fkfk4/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":527.5,"y":327,"wires":[["55433391.4928bc","46706e5b.d3405"]]},{"id":"46706e5b.d3405","type":"debug","z":"946bd05b.960e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.5,"y":392,"wires":[]},{"id":"55433391.4928bc","type":"http response","z":"946bd05b.960e1","name":"","statusCode":"","headers":{},"x":702.5,"y":326,"wires":[]},{"id":"3211b66c.5b8fea","type":"inject","z":"37c51aaa.e7bcc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":287,"wires":[["8b674dc1.f4c8d"]]},{"id":"8b674dc1.f4c8d","type":"function","z":"37c51aaa.e7bcc6","name":"Payload","func":"msg.headers={\n    deviceKey: \"AwzlKFwLjnU8Xf7H\"\n    };\n\nmsg.payload= \"Temperature,,13\";\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":355,"wires":[["ed0a0aa9.0c5128"]]},{"id":"ed0a0aa9.0c5128","type":"http request","z":"37c51aaa.e7bcc6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D40Fkfk4/datapoints.csv","tls":"","proxy":"","authType":"","x":532.5,"y":358,"wires":[["172758a7.fa2c77","a9a5d99f.e7b618"]]},{"id":"a9a5d99f.e7b618","type":"debug","z":"37c51aaa.e7bcc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.5,"y":423,"wires":[]},{"id":"172758a7.fa2c77","type":"http response","z":"37c51aaa.e7bcc6","name":"","statusCode":"","headers":{},"x":702.5,"y":357,"wires":[]}]